.row {
  overflow-wrap: break-word;
}

.demo-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.mat-table {
  overflow-y: scroll;
	height: 76vh;
}

.mat-row {
  display: block;
  border: none;
  margin-top: 20px;
}

.mat-cell {
  min-height: auto;
  padding-left: 24px;
}

.firstNameCol {
  color: rgb(60, 31, 251);
  font-weight: bold;
  font-size: 12px;
}

.lastNameCol {
  color: rgb(60, 31, 251);
  font-weight: bold;
  font-size: 12px;
}

.sentDateCol {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 10px;
}

.textCol {
  color: rgb(0, 0, 0);
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
}

.send-message-div {
	margin-top: 30px;
	padding-bottom: 30px;
  display: flex;
  width: 100%;
	align-items: center;
	justify-content: center;
}

.input-message {
	width: 400px;
	margin-right: 20px;
	height: 30px;
}

.btn-send-message {
	height: 35px;
}
