@{
    ViewData["Title"] = "Home Page";
}
 
 
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Membership" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Membership" asp-action="Login">Вход</a>
    <a asp-controller="Membership" asp-action="Register">Регистрация</a>
}