.row {
    margin-right: 20px;
    overflow-wrap: break-word;
}

.demo-table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.top-page-input-btn-div {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    align-items: baseline;
}

.chat-name-div {
    display: flex;
}

.left-margin {
    margin-left: 20px;
}

.error-message {
    color: red;
    visibility: hidden;
    display: none;
    margin-bottom: 10px;
}

.mat-checkbox {
    accent-color:darkblue;
}


.mat-header-cell {
    color: black;
    font-size: large;
}